body {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url("key.gif");
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#mainContainer {
    width: 600px;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius:  20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(5px);
    text-align: center;
    height: 450px;
    margin-top: 30px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    background-color: rgba(255, 255, 255, 0.2);
    color: black;
    border: 2px solid rgba(255, 255, 255, 0.6);
    padding: 15px 30px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 20px;
    width: 200px;
    backdrop-filter: blur(5px);
    margin: 10px;
}

#computerListContainer, #confirmationPopup {
    display: none;
    background: rgba(255, 255, 255, 0.2);
    padding: 15px;
    border-radius: 20px;
    border: 2px solid rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(5px);
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 300px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: #e0e0e0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

li span {
    font-weight: bold;
    font-size: 20px;
    color: #333;
}

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    border-radius: 20px;
}

.delete-btn:hover {
    background-color: darkred;
}

.connect-btn {
    background-color: blue;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
}

.connect-btn:hover {
    background-color: darkblue;
}

.confirm-btn {
    background-color: green;
    color: white;
}

.confirm-btn:hover {
    background-color: #2bb20d;
    color: wheat;
}

.cancel-btn {
    background-color: red;
    color: white;
}

.cancel-btn:hover {
    background-color: red;
    color: wheat;
}

.options-popup {
    background: white;
    padding: 20px;
    border-radius:20px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    z-index: 1000;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.options-popup button {
    margin: 10px;
}

.computer-btn {
    background: none;
    border: none;
    color: rgb(148, 20, 75);
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    text-align:center;
    display: inline-block;
    width: 100%;
    height: 5px;

}
.close-btn {
    background-color: gray;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 20px;
}

.close-btn:hover {
    background-color: darkgray;
}